<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVCPerson.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39D2821726FFD36A00EEE202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D2822D26FFD36B00EEE202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D2823726FFD36B00EEE202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
